.auth-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;;
}

#login {
    width: 100vw;
    min-height: 100vh;
    background-color: #020E4A;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.login {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 23px 0px rgba(0,126,204,1);
    -moz-box-shadow: 0px 0px 23px 0px rgba(0,126,204,1);
    box-shadow: 0px 0px 23px 0px rgba(0,126,204,1);
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    width: 90%;

    &__title {
        text-align: center;
        text-transform: uppercase;
        color: var(--secondary-color);
        font-size: 18px;
    }

    &__logo {
        @include max-lg {
            max-width: 140px;
        }

        @include min-lg {
            max-width: 240px;
        }
    }

    &__form {
        padding: 0 20px;
        text-align: center;
        -webkit-box-shadow: 0px -15px 23px -11px rgba(255,199,11,1);
        -moz-box-shadow: 0px -15px 23px -11px rgba(255,199,11,1);
        box-shadow: 0px -15px 23px -11px rgba(255,199,11,1);
    }

    &__header {
        background-color: #ffffe3;
        padding: 30px;
        text-align: center;
    }
}