@use '@angular/material' as mat;
@use '../scss/theme.scss';

@include mat.core();

html {
  @include mat.all-component-themes(theme.$light-theme);
  @include mat.strong-focus-indicators-theme(theme.$light-theme);
}

html, body { height: 100%; }
body { 
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
   
}

