.dark {
  --md-sys-color-primary: rgb(230 195 108);
  --md-sys-color-surface-tint: rgb(230 195 108);
  --md-sys-color-on-primary: rgb(62 46 0);
  --md-sys-color-primary-container: rgb(89 68 0);
  --md-sys-color-on-primary-container: rgb(255 223 149);
  --md-sys-color-secondary: rgb(214 197 160);
  --md-sys-color-on-secondary: rgb(58 47 21);
  --md-sys-color-secondary-container: rgb(81 69 42);
  --md-sys-color-on-secondary-container: rgb(243 225 187);
  --md-sys-color-tertiary: rgb(174 207 172);
  --md-sys-color-on-tertiary: rgb(27 54 29);
  --md-sys-color-tertiary-container: rgb(49 77 50);
  --md-sys-color-on-tertiary-container: rgb(202 235 199);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(22 19 11);
  --md-sys-color-on-background: rgb(234 225 212);
  --md-sys-color-surface: rgb(22 19 11);
  --md-sys-color-on-surface: rgb(234 225 212);
  --md-sys-color-surface-variant: rgb(77 70 57);
  --md-sys-color-on-surface-variant: rgb(207 197 180);
  --md-sys-color-outline: rgb(152 144 128);
  --md-sys-color-outline-variant: rgb(77 70 57);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(234 225 212);
  --md-sys-color-inverse-on-surface: rgb(52 48 39);
  --md-sys-color-inverse-primary: rgb(117 91 11);
  --md-sys-color-primary-fixed: rgb(255 223 149);
  --md-sys-color-on-primary-fixed: rgb(37 26 0);
  --md-sys-color-primary-fixed-dim: rgb(230 195 108);
  --md-sys-color-on-primary-fixed-variant: rgb(89 68 0);
  --md-sys-color-secondary-fixed: rgb(243 225 187);
  --md-sys-color-on-secondary-fixed: rgb(35 26 4);
  --md-sys-color-secondary-fixed-dim: rgb(214 197 160);
  --md-sys-color-on-secondary-fixed-variant: rgb(81 69 42);
  --md-sys-color-tertiary-fixed: rgb(202 235 199);
  --md-sys-color-on-tertiary-fixed: rgb(5 33 10);
  --md-sys-color-tertiary-fixed-dim: rgb(174 207 172);
  --md-sys-color-on-tertiary-fixed-variant: rgb(49 77 50);
  --md-sys-color-surface-dim: rgb(22 19 11);
  --md-sys-color-surface-bright: rgb(61 57 47);
  --md-sys-color-surface-container-lowest: rgb(17 14 7);
  --md-sys-color-surface-container-low: rgb(31 27 19);
  --md-sys-color-surface-container: rgb(35 31 23);
  --md-sys-color-surface-container-high: rgb(46 41 33);
  --md-sys-color-surface-container-highest: rgb(57 52 43);
}
