<div class="auth-container">
    <p-card header="Reset Password">
      <div class="flex flex-column gap-2">
        <div class="p-float-label">
          <input pInputText id="email" [(ngModel)]="email" />
          <label for="email">Email</label>
        </div>
        <p-button label="Reset Password" (onClick)="resetPassword()" [loading]="loading" />
        <div class="text-center mt-3">
          <a [routerLink]="['/login']" class="text-primary">Back to login</a>
        </div>
      </div>
    </p-card>
</div>
<p-toast></p-toast>