<!-- <div class="auth-container">
    <p-card header="Reset Password">
      <div class="flex flex-column gap-2">
        <div class="p-float-label">
          <input pInputText id="email" [(ngModel)]="email" />
          <label for="email">Email</label>
        </div>
        <p-button label="Reset Password" (onClick)="resetPassword()" [loading]="loading" />
        <div class="text-center mt-3">
          <a [routerLink]="['/login']" class="text-primary">Back to login</a>
        </div>
      </div>
    </p-card>
</div>
<p-toast></p-toast> -->

<div id="login">
  <div class="auth-container login">

    <div class="login__card">
      <div class="login__header">
        <img src="./assets/images/svg/logo.svg" class="login__logo" >
      </div>

      <div class="login__form">
        <h3 class="login__title pt-3 pb-2">{{texts.LOGIN.TITLE}}</h3>
        <form class="login-form" (ngSubmit)="resetPassword()">
          
          <mat-form-field appearance="outline" >
            <mat-label>{{texts.LABELS.EMAIL}}</mat-label>
            <input 
              matInput 
              type="email" 
              class="w-100" 
              [(ngModel)]="email" 
              name="email" 
              required>
          </mat-form-field>
        
          <button mat-flat-button type="submit" class="w-100 primary-button" [disabled]="loading">
            {{loading ? texts.GENERAL.LOADING : texts.ACTIONS.SIGN_IN}}
          </button>
        </form>
      </div>

    </div>
    <div class="pt-3"></div>
    <mat-card>
      <mat-card-actions align="end" >
        <a mat-button routerLink="/register">{{texts.ACTIONS.CREATE_ACCOUNT}}</a>
        <a mat-button routerLink="/forgot-password">{{texts.ACTIONS.FORGOT_PASSWORD}}</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
  