<div id="login">
    <div class="auth-container login">
  
      <div class="login__card">
        <div class="login__header">
          <img src="./assets/images/svg/logo.svg" class="login__logo" >
        </div>
  
        <div class="login__form">
          <h3 class="login__title pt-3 pb-2">{{texts.ACTIONS.FORGOT_PASSWORD}}</h3>
          <form class="login-form" (ngSubmit)="resetPassword()">
            
            <mat-form-field appearance="outline" >
              <mat-label>{{texts.LABELS.EMAIL}}</mat-label>
              <input 
                matInput 
                type="email" 
                class="w-100" 
                [(ngModel)]="email" 
                name="email" 
                required>
            </mat-form-field>
          
            <button mat-flat-button type="submit" class="w-100 primary-button" [disabled]="loading">
              {{loading ? texts.GENERAL.LOADING : texts.ACTIONS.SEND}}
            </button>
          </form>
        </div>
  
      </div>
      <div class="pt-3"></div>
    </div>
  </div>
    